/* ---- Reset Básico ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* ---- Estilo Global ---- */
  html {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  /* Fundo e texto */
  body {
    /*background-color: #FDF5E6; */
    background-color: #f7fff5;
    color: #000;              
  }
  
  /* ---- Cabeçalho Superior: Book Colectors ---- */
  .nome-pagina {
    text-align: center;       /* Centraliza o título */
    padding: 1rem;
    color: white;
    background-color: #274060;   
    border-bottom: 1px solid #ddd;
  }
  
  .nome-pagina h1 {
    font-size: 1.5rem;
  }
  
  /* ---- Barra de Navegação ---- */
  header {
    /* background-color: #c26d0c; Laranja */
    width: 100%;
    /* Ajuste o espaçamento superior/inferior para posicionar melhor a barra */
    padding: 1rem 0;
  }
  .eventos header{
    width: 100%;
    /* Ajuste o espaçamento superior/inferior para posicionar melhor a barra */
    padding: 1rem 0;
  }
  
  /* Contêiner flexível (para centralizar ou limitar a largura) */
  header .contentor {
    background-color: #6EA4BF;
    margin: 0 auto;
    padding: 0 1rem;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
  }

   /* Ajuste para a barra de pesquisa */
.search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;         /* Espaço entre o input e o botão */
    margin-left: auto;   /* Empurra a barra para a direita */
  }
  
  .search-bar .login-header a{
    margin: 0 auto;
    padding: 0 1rem;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;
    color: #000;      
    font-weight: bold; 
    transition: color 0.3s;
  }
  .search-bar .login-header a:hover{
    color: #333; /* Muda levemente a cor quando passa o mouse */
  }
  /* Estilos para o input */
  .search-bar input {
    padding: 0.4rem 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  /* Estilos para o botão */
  .search-bar button {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #333; /* Cor de fundo do botão */
    color: #fff;           /* Texto em branco */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-bar button:hover {
    background-color: #555; /* Muda cor ao passar o mouse */
  }
  
  /* Navegação Principal */
  nav ul {
    list-style: none;  /* Remove marcadores da lista */
    display: flex;
    gap: 1rem;         /* Espaço entre links */
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;      
    font-weight: bold; 
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #333; /* Muda levemente a cor quando passa o mouse */
  }
  
  /* ---- Imagem Grande ---- */
  .contentor-cinza {
    background-color: #bdd6d0;  
    max-width: 800px;        
    margin: 4rem auto;
    padding: 1rem;           /* Espaço interno */
    border-radius: 5px;
  }
  
  .wrap-imagen {
    max-width: 750px;        /* Limite de largura para a imagem */
    margin: 0 auto;          /* Centraliza a div com a imagem dentro do contêiner */
  }
  
  .wrap-imagen img {
    display: block;
    width: 100%; 
    height: auto;  
  }
  
  
  /* ---- Seções Gerais ---- */
  main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  /* estilo para seções */
  section {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  section h2 {
    margin-bottom: 0.5rem;
  }
  
  section p {
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .bloco-lateral {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin: 2rem 0;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .bloco-imagem img {
    width: 150px;  
    height: auto;
    display: block;
    border-radius: 5px;
  }
  
  .bloco-info {
    flex: 1; 
  }
  
  .bloco-info h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;

  }
  
  .bloco-info p {
    margin-bottom: 0.5rem;
    line-height: 1.4;
  }
  
  /* ---- PaginaColeções ---- */
  
  .collection-name h1{
    font-size: 1.5rem;
  }

h3 a{
  text-decoration: none;
  color: #000;
}
h3 a:hover{
  color: #333; /* Muda levemente a cor quando passa o mouse */ 
}

/* ---- PaginaItem ---- */

.book-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 20px;
  padding: 20px;
}

.book-container img {
  width: 45%;
  max-width: 400px;
}

.book-info {
   max-width: 700px;
}

.book-info p {
  text-align: justify;
}

.btn-colecao {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #274060;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

  /* ---- pagina pesquisa ---- */

  .search-container {
      text-align: center;
      padding: 20px;
  }

  .result-list {
      max-width: 600px;
      margin: auto;
      text-align: left;
      list-style-type: none;
      padding: 0;
  }

  .result-list li {
      padding: 10px;
      border-bottom: 1px solid #ddd;
  }

  .result-list a {
      text-decoration: none;
      color: #007bff;
  }

  .result-list a:hover {
      text-decoration: underline;
  }


  
  /* ---- Rodapé ---- */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #274060;
    color: #fff;
    text-align: center;
    line-height: 50px;
  }



/*--LOGIN SIGNUP--*/
#main-holder {
  /*width: 50%;
  height: 70%;*/
  padding: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  padding-bottom: 20px; 
  padding-top: 0px;
}

#login-error-msg {
  width: 45%;
  text-align: center;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  background-color: #FDF5E6;
  opacity: 0;
  box-shadow: 0px 0px 5px 2px black;
}

#lerror-msg-second-line {
  display: block;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}


#serror-msg-second-line {
  display: block;
}


#signup-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.signup-form-field::placeholder {
  color: #3a3a3a;
}

.signup-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#signup-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

#signup-error-msg-holder {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: grid;
  justify-items: center;
  align-items: center;
}

#signup-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#login-signup{
  text-decoration: none;
  color:#fff;
}

#main-holder h1 {
  color: #000;      
  font-weight: bold;
  padding-bottom: 60px;
}
#main-holder h1 a{
  text-decoration: none;
  color: #000;      
  font-weight: bold; 
}
#main-holder h1 a:hover{
  color: #333; 
}